{% extends 'base.html' %}

{% block title %} Biblioteca App {% endblock title %}

{% block content %}

    {% include 'includes/header.html' %}

    <main>

        <div class="container">

            <div class="row">
                <div class="col mt-3">

                    <h1 class="mb-3">Lista de Autores</h1>

                    <form method="GET" class="form-inline">
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-md-auto col-12 mb-2">
                                <input type="text" id="kword" name="kword" placeholder="Ingrese nombre" class="form-control">
                            </div>

                            <div class="col-md-auto col-12 mb-2">
                                <button type="submit" class="btn btn-primary btn-resoponsive">Consultar</button> 
                            </div>

                        </div>
                    </form>

                </div>
            </div>

            <hr>

            <div class="row mt-3">
                <div class="col">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for autor in lista_autores %}
                                <tr>
                                    <th scope="row">{{ autor.id }}</th>
                                    <td>{{ autor.nombre }} {{ autor.apellido }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </main>

{% endblock content %}